// =============================
//  Fonts
// =============================
// $font-primary: 'Poppins';

// =============================
//  COLORS
// =============================

// =============================
//  BREAKPOINTS
// =============================
$breakpoint-huge: 70rem;
$breakpoint-large: 64rem;
$breakpoint-medium: 50rem;
$breakpoint-small: 37.5rem;
$breakpoint-tiny: 30rem;

// =============================
//  SIZES
// =============================
$spacing-sizes: (
    '0' 0,
    '0-125' 0.125,
    '0-25' 0.25,
    '0-375' 0.375,
    '0-5' 0.5,
    '0-75' 0.75,
    '1' 1,
    '1-25' 1.25,
    '1-5' 1.5,
    '1-75' 1.75,
    '2' 2,
    '2-5' 2.5,
    '3' 3,
    '3-5' 3.5,
    '4' 4,
    '5' 5,
    '6' 6,
    '7' 7,
    '8' 8,
    '9' 9,
    '10' 10,
    '12' 12,
    '14' 14,
    '15' 15,
    '16' 16,
    '18' 18,
    '20' 20,
    '24' 24
);

$classes: (
    'h' 'left' 'right',
    'v' 'top' 'bottom',
    't' 'top',
    'r' 'right',
    'b' 'bottom',
    'l' 'left'
);

// =============================
//  BORDER
// =============================
// $border-radius: 0.5rem;
