h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 600;
}

h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
